<% if(Dark == "true") { %>
    <%- include("partials/headerDark") -%>
    <style>body{background-color: black; color: white;}</style>
    <% } else{ %>
       <%- include("partials/header") -%>
    <% } %>
<h1>About</h1>
<p><%= About %></p>

<% if(Dark == "true") { %> 
    <%- include("partials/footerDark") -%>
    <% } else{ %>
       <%- include("partials/footer") -%>
    <% } %>
 