
<% if(Dark == "true") { %>
<%- include("partials/headerDark") -%>
<style>body{background-color: black; color: white;}</style>
<% } else{ %>
   <%- include("partials/header") -%>
<% } %>
<% console.log(Dark) %>
<h1>Home</h1>
<p><%= Home %></p>
<% Posts.forEach(function(post){%>
<div class="container" id="posts" style="background-color: <%=post.color%>; color: <%=post.fontC%>;">
    <h1><%= post.title %></h1>
 <p><%= post.body.substring(0, 100) + " ..." %> <a href="posts/<%= post.title%>">Read More</a> </p>
    <%=console.log(post.color)%>
</div>
 <%});%>

 <% if(Dark == "true") { %> 
   <%- include("partials/footerDark") -%>
   <% } else{ %>
      <%- include("partials/footer") -%>
   <% } %>
