<% if(Dark == "true") { %>
    <%- include("partials/headerDark") -%>
    <style>body{background-color: black; color: white;}</style>
    <% } else{ %>
       <%- include("partials/header") -%>
    <% } %>

<h1><%= PostT %></h1>
<p><%= PostB %></p>


<% if(Dark == "true") { %> 
    <%- include("partials/footerDark") -%>
    <% } else{ %>
       <%- include("partials/footer") -%>
    <% } %>
 